.dsmeta-card {
    background-color: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}
.dsmeta-sales-title {
    color: #676fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.dsmeta-form-control-containner {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-form-control {
    width: 100%;
    height: 46px;
    background-color: #1b2531;
    border: 1px solid #384459;
    /* 1px espessura da borda, solid tipo de linha e a cor*/
    border-radius: 5px;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 18px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    /*verificar */
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16;
    color: #E9E9E9;
    font-weight: 700;
}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #cfcfcf;
    text-align: center;
}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5f6e82;
}

.dsmeta-sales-table tbody tr:hover>td {
    /* hover quando passar o mouse em cima destaca com a cor
    escolhida >td é para já destacar em qualquer linha*/
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    /*tabela tem uma linha mais escura que a 
    outra para isso identicicar a classe e nth-child (odd "impar") */
    background-color: #242c3b;
}

.dsmeta-red-btn-containner {
    display: flex;
    justify-content: center;

}

.show576 {
    /* Comando para ocultar uma coluna ou algo*/
    display: none;
    /*Usado para não mostrar algo*/
}

@media (min-width:576px) {

    /* Comando especial para mostrar algo após determinaso tamanho de tela*/
    .show576 {
        display: table-cell;
        /* table-cell é o mostrar normalmente */
    }

    .dsmeta-card {
        padding: 35px;
    }

    .dsmeta-sales-table tbody tr {
        height: 55px;
    }

    .dsmeta-sales-table tbody {
        font-size: 18px;
    }
}

.show992 {
    display: none;
}

@media (min-width:992px) {
    .show992 {
        display: table-cell;
    }
}